.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  @include flex(flex, center, space-around);
  flex-direction: column;
  row-gap: 60px;
  text-align: center;

  @media (min-width: 768px) {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
    text-align: start;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.address__list {
  list-style: none;
  & :not(:last-child) {
    margin-bottom: 8px;
  }

  @media (min-width: 1200px) {
    & :not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.address__post {
  text-decoration: none;
  color: $main-color-white;
}

.address__e-mail,
.address__tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color $transition-basic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

/* Оформлення соціальних мереж */

.footer-social {
  display: inline-block;
  vertical-align: top;
}

.footer-social__title {
  color: $main-color-white;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Оформлення підписки */

.footer-subscribe {
  @media (min-width: 768px) {
    display: inline-block;
    width: 450px;
  }

  @media (min-width: 1200px) {
    width: 570px;
  }
}

.footer-subscribe__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: $main-color-white;
}

.footer-subscribe__form {
  @media (min-width: 1200px) {
    @include flex(flex, end);
  }
}

.footer-subscribe__input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $main-color-white;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  @media (max-width: 480px) {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  @media (min-width: 480px) {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  @media (min-width: 1200px) {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.button__send-icon {
  vertical-align: middle;
  margin-left: 10px;
}
