.logo {
    display: inline-block;
    font-family: $logo-font-family;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    &_white {
        color: $main-color-white;
    }

    &_black {
        color: #000000;
    }

    &_accent {
        color: $accent-color;
    }
}