.section-title {
  margin-bottom: 30px;
  text-align: center;

  font-size: 28px;
  line-height: 1.18;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
