// Шрифти

$main-font-family: "Roboto",sans-serif;
$logo-font-family: "Raleway", sans-serif;

// Палітра кольорів

$pimery-text-color: #212121;
$paragraph-text-color: #757575;
$accent-color: #2196f3;
$main-color-white: #ffffff;
$transition-basic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$main-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);