.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-filter {
  @extend %list;
  @include flex (flex, center, start);

  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;

  margin-right: 20px;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
    margin-right: 0px;
    gap: 8px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.portfolio-filter__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;

  color: $pimery-text-color;
  cursor: pointer;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-style: none;

  transition: color $transition-basic, background-color $transition-basic,
    box-shadow $transition-basic;

  &:hover,
  &:focus {
    color: $main-color-white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &_active {
    padding-left: 25px;
    padding-right: 25px;
    color: $main-color-white;
    background-color: $accent-color;
  }
}
